
@{ 
    ViewBag.Title = "BITOJ - Loading contest...";
}

@section Styles {
    <style>
        .jumbotron p,
        tr > td > p {
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
}

<div class="jumbotron">
    <h1>
        <span id="contestTitle">Loading...</span> 
        <small><span id="contestCreator" hidden>by Loading...</span></small>
    </h1>

    <hr />

    <div class="row">
        <div class="col-lg-4 text-left">
            <p>Start time:</p>
            <p id="contestStartTime">Loading...</p>
        </div>
        <div class="col-lg-4 text-center">
            <p>
                <span id="contestAuthMode">Loading...</span>
                ,
                <span id="contestStatus">Loading...</span>
            </p>
            <p id="contestPartMode">Loading...</p>
        </div>
        <div class="col-lg-4 text-right">
            <p>End time:</p>
            <p id="contestEndTime">Loading...</p>
        </div>
    </div>

    <div class="progress progress-striped active" id="contestProgress" style="margin-top: 10px;">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" 
             aria-valuenow="100" style="width: 100%;"></div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            Registered as:
            <span id="contestRegId">Loading...</span>
        </div>
        <div class="col-lg-6 text-right">
            Countdown:
            <span id="contestCountdown">Loading...</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div id="contestWriteRegion" hidden>
            <div class="btn-group btn-group-vertical" style="display: block;">
                <a href="@string.Format("/Contest/AddProblem?id={0}", ViewBag.ContestId)"
                   class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add custom problem
                </a>
                <button type="button" class="btn btn-warning" data-toggle="modal"
                        data-target="#addProblemDialog">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add archieve problem
                </button>
                <a href="@string.Format("/Contest/Edit?id={0}", ViewBag.ContestId)" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit contest
                </a>
                <a href="javascript:void(0);" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit register list
                </a>
            </div>

            <div class="modal fade" id="addProblemDialog" tabindex="-1" role="dialog"
                 aria-labelledby="addProblemDialogLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="addProblemDialogLabel">Add archieve problem</h4>
                        </div>
                        <div class="modal-body">
                            <form id="addArchieveProblemForm" action="~/Contest/AddArchieveProblem">
                                <div class="form-group">
                                    <label for="ProblemId" class="control-label">Problem ID</label>
                                    <input type="text" class="form-control" id="ProblemId" name="ProblemId"
                                           placeholder="Enter Problem ID" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="addArchieveProblemButton">
                                <span class="glyphicon glyphicon-ok"></span>
                                Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 15px;" class="list-group">
            <a class="list-group-item active" href="javascript:void(0);">Problems</a>
            <a class="list-group-item" href="javascript:void(0);">Submissions</a>
            <a class="list-group-item" href="javascript:void(0);">Ranklist</a>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                Contest announcement
            </div>
            <div class="panel-body">
                <span id="contestAnnouncement">Loading...</span>
            </div>
        </div>

        <table class="table table-striped table-hover" id="contestProblemList">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Accept ratio</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active" style="background-color: gray;">
                    <td></td>
                    <td>Loading...</td>
                    <td>Loading...</td>
                    <td>Loading...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="contestId" value="@ViewBag.ContestId"/>

@section scripts {
    <script type="text/javascript" src="~/Scripts/Contests/show.js"></script>
}