@model BITOJ.SiteUI.Models.UserQueryModel
@{ 
    ViewBag.Title = "BITOJ - Admin Page";
    ViewData.Add("AccessGroup", BITOJ.Core.UserGroup.Administrators);
}

<div class="jumbotron">
    <h1>Administration</h1>
    <p class="sup">
        Background management unit of BIT Online Judge system.
    </p>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>Management units:</p>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-default" href="~/Admin/ManageUser">
            <span class="glyphicon glyphicon-user"></span>
            Users
        </a>
    </div>
</div>