@using BITOJ.Core
@using BITOJ.SiteUI.Models
@model ProblemDetailModel
@{ 
    ViewBag.Title = "BITOJ - Add problem";
    ViewBag.ProblemDetailEditShowProblemId = true;
    ViewBag.ProblemDetailEditAllowProblemId = true;
    ViewBag.ProblemDetailEditShowUserGroup = true;
    ViewData.Add("AccessGroup", UserGroup.Administrators);
}

<div class="jumbotron">
    <h1>Add a problem to archieve</h1>
    <p>
        Fill the chart below to complete the information of the problem.
    </p>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        @Html.Partial("~/Views/Shared/ProblemDetailEdit.cshtml", Model, ViewData)
    </div>
</div>