@using BITOJ.Core
@using BITOJ.Core.Authorization
@using BITOJ.SiteUI.Models
@{ 
    ViewBag.Title = "BITOJ - Local Archieve";
    ViewBag.ArchieveCatalog = ArchieveCatalog.Local;
    Layout = @".\Shared\Layout.cshtml";
}

<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Tags</th>
                <th>Operations</th>
                <th>Accepted Ratio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BIT1000</td>
                <td><strong>A + B Problem</strong></td>
                <td>
                    <a role="button" tabindex="0" class="btn btn-default btn-info btn-sm" data-toggle="popover"
                       data-placement="top" data-container="body" data-trigger="focus" title="Tags"
                       data-content="Implementation">
                        <span class="glyphicon glyphicon-tags"></span>
                    </a>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip"
                                data-placement="top" data-container="body" title="Submit">
                            <span class="glyphicon glyphicon-open"></span>
                        </button>

                        @if (UserAuthorization.CheckAccessRights(UserGroup.Administrators,
                            UserSession.GetUserGroup(Session)))
                        {
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip"
                                    data-placement="top" data-container="body" title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        }

                        <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip"
                                data-placement="top" data-container="body" title="Open in new tab">
                            <span class="glyphicon glyphicon-new-window"></span>
                        </button>
                    </div>
                </td>
                <td>
                    0 submissions, 0 accepted.
                    <br />
                    Ratio: N/A.
                </td>
            </tr>
        </tbody>
    </table>

</div>