@using BITOJ.Core
@using BITOJ.SiteUI.Models
@model ProblemDetailModel
@{ 
    ViewBag.Title = "BITOJ - Modify problem";
    ViewData.Add("ProblemDetailEdit_AllowProblemId", false);
    ViewData.Add("ProblemDetailEdit_Action", "/Archieve/Modify");
    ViewData.Add("AccessGroup", UserGroup.Administrators);
}

<div class="jumbotron">
    <h1>Modify problem @Model.ProblemId</h1>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        @Html.Partial("~/Views/Shared/ProblemDetailEdit.cshtml", Model, ViewData)
    </div>
</div>