@using BITOJ.SiteUI.Models
@{ 
    ViewBag.Title = "BITOJ - Virtual archieve";
    ViewBag.ArchieveCatalog = ArchieveCatalog.Virtual;
    Layout = @".\Shared\Layout.cshtml";
}

<div class="alert alert-info text-center">
    <p>To start with, please query probelms in the "Query problems" box on the left side.</p>
</div>