@{ 
    ViewBag.Title = "BIT Online Judge - About";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-8">
            <h1>About BIT Online Judge</h1>
            <small>
                Take a brief instruction here.
            </small>
        </div>
        <div class="col-lg-4 text-center">
            <img src="~/Resources/BIT_Logo_trans.png" width="260"/>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" id="heading-dev">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapse-dev" aria-expanded="false"
               aria-controls="collapse-dev">
                Developers
            </a>
        </h4>
    </div>
    <div id="collapse-dev" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-dev">
        <div class="panel-body">
            <p>Lancern from School of Software, BIT</p>
            <p>Lylist from School of Software, BIT</p>
            <p>Lytning from School of Electronics and Information, BIT</p>
            <p>NcSkuld from School of Software, BIT</p>
            <p>Reskip from School of Software, BIT</p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" id="heading-sup">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-sup" aria-expanded="false" 
               aria-controls="collapse-sup">
                Supporters
            </a>
        </h4>
    </div>
    <div id="collapse-sup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-sup">
        <div class="panel-body">
            <p>miamiao from School of Computer Science and Technology, BIT</p>
            <p>Prince de marcia from School of Software, BIT</p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" id="heading-sth">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapse-sth" aria-expanded="false"
               aria-controls="collapse-sth">
                Special thanks
            </a>
        </h4>
    </div>
    <div id="collapse-sth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-sth">
        <div class="panel-body">
            <a href="http://www.bootcss.com/" target="_blank">Bootstrap</a>,
            <a href="http://glyphicons.com/" target="_blank">Glyphicons</a>
        </div>
    </div>
</div>
