@{ 
    ViewBag.Title = "BIT Online Judge - About";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-8">
            <h1>About BIT Online Judge</h1>
            <p class="sup">
                Sincere thanks to everyone contributing to the BITOJ project! BITOJ cannot be done
                without your kind help.
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <img src="~/Resources/BIT_Logo_trans.png" width="260"/>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Developers (in alphabetical order, similarly hereinafter)
        </h4>
    </div>
    <div class="panel-body">
        <p><strong>Lancern</strong> from School of Software, BIT</p>
        <p><strong>Lylist</strong> from School of Software, BIT</p>
        <p><strong>Lytning</strong> from School of Computer Science and Technology, BIT</p>
        <p><strong>Reskip</strong> from School of Software, BIT</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Maintainers
        </h4>
    </div>
    <div class="panel-body">
        <p><strong>Lancern</strong> from School of Software, BIT</p>
        <p><strong>StrawBreeze</strong> from School of Computer Science and Technology, BIT</p>
        <p>BIT Network Pioneer</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Supporters
        </h4>
    </div>
    <div class="panel-body">
        <p><strong>bibibibi</strong> from School of Software, BIT</p>
        <p><strong>miamiao</strong> from School of Computer Science and Technology, BIT</p>
        <p><strong>StrawBreeze</strong> from School of Computer Science and Technology, BIT</p>
        <p><strong>Prince_de_marcia</strong> from School of Software, BIT</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Special thanks
        </h4>
    </div>
    <div class="panel-body">
        <a href="http://glyphicons.com/" target="_blank">Glyphicons</a>,
        <a href="https://github.com/syntaxhighlighter/syntaxhighlighter" target="_blank">SyntaxHighlighter</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Online source repo
        </h4>
    </div>
    <div class="panel-body">
        <a href="https://github.com/Lancern/BIT-Online-Judge" target="_blank">
            BITOJ's home page on <strong>GitHub</strong>
        </a>
    </div>
</div>
