@{ 
    ViewBag.Title = "BIT Online Judge - Instructions";
}

<div class="jumbotron">
    <h1>Instructions</h1>
    <small>
        The lists below lists some common questions one might get while using online judge system.
        If you have any questions, check it out and see if they help.
    </small>
</div>

<div class="panel panel-group" id="instructions" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="hd-abbr">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#instructions" href="#ct-abbr" aria-expanded="false"
                   aria-controls="ct-abbr">
                    What's the full name of BITOJ?
                </a>
            </h3>
        </div>
        <div class="panel-collapse collapse" id="ct-abbr" role="tabpanel" aria-labelledby="hd-addr">
            <div class="panel-body">
                The full name of BITOJ is: Online Judge system of Beijing Institute of Technology.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="hd-compiler">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#instructions" href="#ct-compiler" 
                  aria-expanded="false" aria-controls="ct-compiler">
                   What programming languages does BITOJ support? And what are the compiler options?
                </a>
            </h3>
        </div>
        <div class="panel-collapse collapse" id="ct-compiler" role="tabpanel" aria-labelledby="hd-compiler">
            <div class="panel-body">
                The programming languages currently supported by BITOJ are: <br />
                <strong>C, C++, Python</strong>. <br />
                <br />
                Compiler options are listed below:
                <ul>
                    <li><strong>C:</strong> gcc -O2 -std=c11 -DONLINE_JUDGE -lm -o &lang; output &rang; &lang; source &rang;</li>
                    <li>
                        <strong>C++:</strong>
                        <ul>
                            <li>C++: g++ -O2 -std=c++98 -DONLINE_JUDGE -lm -o &lang; output &rang; &lang; source &rang;</li>
                            <li>C++11: g++ -O2 -std=c++11 -DONLINE_JUDGE -lm -o &lang; output &rang; &lang; source &rang;</li>
                            <li>C++14: g++ -O2 -std=c++14 -DONLINE_JUDGE -lm -o &lang; output &rang; &lang; source &rang;</li>
                            <li>C++17: g++ -O2 -std=c++17 -DONLINE_JUDGE -lm -o &lang; output &rang; &lang; source &rang;</li>
                        </ul>
                    </li>
                    <li><strong>Python:</strong> python &lang; source &rang;</li>
                </ul>
                <br />
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="hd-env">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#instructions" href="#ct-env"
                   aria-expanded="false" aria-controls="ct-env">
                    What operating system will my program execute on on BITOJ?
                </a>
            </h3>
        </div>
        <div class="panel-collapse collapse" id="ct-env" role="tabpanel" aria-labelledby="hd-env">
            <div class="panel-body">
                Your program will execute on Linux.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="hd-verdict">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#instructions" href="#ct-verdict"
                   aria-expanded="false" aria-controls="ct-verdict">
                    What does the results returned by the verdict mean?
                </a>
            </h3>
        </div>
        <div class="panel-collapse collapse" id="ct-verdict" role="tabpanel" aria-labelledby="hd-verdict">
            <div class="panel-body">
                The most common judge results returned by the verdicts are: <br />
                <span class="text-verdict-ac">Accepted</span>,
                <span class="text-verdict-err">Wrong Answer</span>,
                <span class="text-verdict-err">Runtime Error</span>,
                <span class="text-verdict-err">Compilation Error</span>,
                <span class="text-verdict-pe">Presentation Error</span>,
                <span class="text-verdict-err">Time Limit Exceeded</span>,
                <span class="text-verdict-err">Memory Limit Exceeded</span>,
                <span class="text-verdict-err">Output Limit Exceeded</span>, and 
                <span class="text-verdict-se">System Error</span>.
                <br />
                Their corresponding meanings are listed below.
                <ul>
                    <li><span class="text-verdict-ac">Accepted</span>: 
                        Congratulations! Your program is correct and passed all the tests.
                    </li>
                    <li><span class="text-verdict-err">Wrong Answer</span>:
                        The answer given by your program is not correct.
                    </li>
                    <li><span class="text-verdict-err">Runtime Error</span>:
                        The operating system catches an error in your program during its execution.
                        The most common issue is that your program tried to access an invalid memory address,
                        or your program ran out of stack due to a deep recursion. 
                        Actually there're lots of reasons leading to this result. For more detailed information,
                        ask the administrators.
                    </li>
                    <li><span class="text-verdict-err">Compilation Error</span>:
                        Compiler rejected to compile your program. Please check if there're any syntax errors
                        in your program.
                    </li>
                    <li><span class="text-verdict-pe">Presentation Error</span>:
                        Only a step away! The answer given by your program seems correct, but its format is incorrect.
                        Please check if your program outputs unnecessary blank characters.
                    </li>
                    <li><span class="text-verdict-err">Time Limit Exceeded</span>:
                        Your program consumed too much time to execute until its termination.
                    </li>
                    <li><span class="text-verdict-err">Memory Limit Exceeded</span>:
                        Your program consumed too much memory to execute until its termination.
                    </li>
                    <li><span class="text-verdict-err">Output Limit Exceeded</span>:
                        Your program generated too much output.
                    </li>
                    <li><span class="text-verdict-se">System Error</span>:
                        Relax. It's not your fault. The system seems to be suffering some problems and rejected
                        to judge your program. Please contact the administrators.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="hd-quickjump">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#instructions" href="#ct-quickjump"
                   aria-expanded="false" aria-controls="ct-quickjump">
                    What is QuickJump and how should I use it?
                </a>
            </h3>
        </div>
        <div class="panel-collapse collapse" id="ct-quickjump" role="tabpanel" aria-labelledby="hd-quickjump">
            <div class="panel-body">
                QuickJump is introduced into BITOJ to speed up the process that you look for a specific problem.
                On the top of each page in BITOJ lies a navigation bar, in which there is a text box with a "Go" button
                next to it. Briefly, you can type any valid problem ID into the text box, and press the go button, and
                the page will automatically redirects to the problem page you just typped. Actually, the problem ID doesn't
                need to be of a problem on BIT Online Judge; it can be any problem on other online judge platforms such as
                HDU and POJ, etc. For a complete list of supported online judge system, see the list on the very rear of
                the introduction. So you're allowed to input problem IDs such as BIT1000, HDU1001, POJ2453, CF527A, etc.

                <br />

                If there are not any prefixes that speficy the target online judge platform (HDU, for example), the system
                will try to resolve the problem ID to a problem on BIT Online Judge. So that BIT1000 and 1000 is actually
                the same.

                <br />

                <strong>
                    Supported online judge systems: BITOJ, BZOJ, CodeForces, Gym, HDU, POJ, UVa, UVa Live Archieve, ZOJ. 
                </strong>
            </div>
        </div>
    </div>
</div>