@{ 
    ViewBag.Title = "BITOJ - Login";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6">
            <h1>Sign in to BITOJ</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p class="sup">
                Sign in to BITOJ to submit problem solutions, take part in contests and create your own contests.
            </p>
            <p>New to BITOJ?</p>
            @Html.ActionLink("Register now", "Register", "Login", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div class="hidden-md hidden-lg">
                <h3>Sign in</h3>
            </div>
            <form>
                <div class="form-group">
                    <div class="form-group">
                        <label class="sr-only" for="user">Username:</label>
                        <input type="text" class="form-control" id="user" placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Password" />
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
