@model BITOJ.SiteUI.Models.UserRegisterModel
@{ 
    ViewBag.Title = "BITOJ - Succeed";
}

<div class="jumbotron">
    <h1>Registration successfully completed.</h1>
    <p class="sup">
        Welcome to BIT Online Judge, @Model.Username .
    </p>

    <a href="~/Login/Index" class="btn btn-primary btn-lg">Sign in now</a>
</div>