body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.lm-width {
    max-width: 280px;
}

.text-code {
    font-family: Consolas, 'Courier New', monospace;
}

.text-verdict-ac {
    color: forestgreen;
    font-weight:700;
}

.text-verdict-pe {
    color: darkorange;
}

.text-verdict-err {
    color: red;
}

.text-verdict-se {
    color: gray;
}

.text-contest-public,
.text-contest-protected,
.text-contest-private {
    font-weight: 700;
}

.text-contest-public {
    color: forestgreen;
}

.text-contest-protected {
    color: orange;
}

.text-contest-private {
    color: red;
}

.text-contest-pending,
.text-contest-running,
.text-contest-ended {
    font-weight: 700;
}

.text-contest-pending {
    color: deepskyblue;
}

.text-contest-running {
    color: forestgreen;
}

.text-contest-ended {
    color: red;
}

/* Supplementary explanaton */
.sup {
    color: gray;
    line-height: 28px;
}

.card-box,
.card-box-default {
    margin: 10px 10px 10px 10px;
    padding: 15px 20px 15px 20px;
    box-shadow: 0 0 15px rgb(210, 210, 210);

    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
}

.card-box:hover,
.card-box-default:hover {
    box-shadow: 0 0 25px skyblue;
}

.card-box img {
    margin-top: -15px;
    margin-left: -20px;
    margin-bottom: -15px;
}

.card-box-default {
    background-color: white;
}

.user-box,
.user-box-male,
.user-box-female {
    background-repeat: no-repeat;
    background-position: right -10px;
    background-size: auto 200%;
}

.user-box-male {
    background-image: url('../Resources/Male_logo.png');
}

.user-box-female {
    background-image: url('../Resources/Female_logo.png');
}

.team-box {
    background-repeat: no-repeat;
    background-position: right 45px;
    background-image: url('../Resources/Team_logo.png');
    background-size: auto 100%;
}